# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [335]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [336]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [337]:
#  1. Get the total rides for each city type
Total_Rides= pyber_data_df.groupby(["type"]).count()["ride_id"]
Total_Rides.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [338]:
# 2. Get the total drivers for each city type
Total_Drivers = city_data_df.groupby(["type"]).sum()["driver_count"]
Total_Drivers.head()

#Total_Drivers = pyber_data_df["driver_count"].sum()
#Total_Drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [339]:
#  3. Get the total amount of fares for each city type
Total_Fares = pyber_data_df.groupby(["type"]).sum()["fare"]
Total_Fares.head()

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [340]:
#  4. Get the average fare per ride for each city type. 
Average_Fare_per_Ride = Total_Fares / Total_Rides
Average_Fare_per_Ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [341]:
# 5. Get the average fare per driver for each city type. 
Average_Fare_per_Driver = Total_Fares / Total_Drivers
Average_Fare_per_Driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [342]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({"Total Rides": Total_Rides,
                                "Total Drivers": Total_Drivers,
                                "Total Fares": Total_Fares,
                                "Average_Fare_per_Ride": Average_Fare_per_Ride,
                                "Average_Fare_per_Driver": Average_Fare_per_Driver})
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average_Fare_per_Ride,Average_Fare_per_Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [343]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [344]:
#  8. Format the columns.

pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,.0f}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,.0f}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average_Fare_per_Ride"] = pyber_summary_df["Average_Fare_per_Ride"].map("${:,.2f}".format)
pyber_summary_df["Average_Fare_per_Driver"] = pyber_summary_df["Average_Fare_per_Driver"].map("${:,.2f}".format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average_Fare_per_Ride,Average_Fare_per_Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [345]:
# 1. Read the merged DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [346]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
pyber_fares_sum_df = pyber_data_df.groupby(["type","date"]).sum()[["fare"]]
pyber_fares_sum_df.head(10)

                            fare
type  date
Rural 2019-01-01 09:45:36  43.69
      2019-01-02 11:18:32  52.12
      2019-01-03 19:51:01  19.90
      2019-01-04 03:31:26  24.88
      2019-01-06 07:38:40  47.33
      2019-01-08 06:19:45  19.39
      2019-01-09 15:30:35  31.84
      2019-01-11 04:39:27  16.42
      2019-01-14 07:09:17  18.05
      2019-01-14 15:58:48  54.10

In [347]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
pyber_fares_sum_df = pyber_fares_sum_df.reset_index()
pyber_fares_sum_df.tail()

       type                 date   fare
2370  Urban  2019-05-08 04:20:00  21.99
2371  Urban  2019-05-08 04:39:49  18.45
2372  Urban  2019-05-08 07:29:01  18.55
2373  Urban  2019-05-08 11:38:35  19.77
2374  Urban  2019-05-08 13:10:18  18.04

In [348]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 

pyber_fares_sum_df = pyber_fares_sum_df.pivot(index = "date", columns = "type", values = "fare")
pyber_fares_sum_df.tail(10)

type                 Rural  Suburban  Urban
date
2019-05-07 20:05:15    NaN       NaN  24.20
2019-05-07 20:22:19    NaN       NaN  18.74
2019-05-07 20:40:29    NaN     24.89    NaN
2019-05-08 01:54:18    NaN       NaN  32.69
2019-05-08 02:31:25    NaN       NaN  41.33
2019-05-08 04:20:00    NaN       NaN  21.99
2019-05-08 04:39:49    NaN       NaN  18.45
2019-05-08 07:29:01    NaN       NaN  18.55
2019-05-08 11:38:35    NaN       NaN  19.77
2019-05-08 13:10:18    NaN       NaN  18.04

In [349]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
datefilter = (pyber_fares_sum_df["date"] == "2019-01-01") & (pyber_fares_sum_df["date"] == "2019-04-29")

pyber_pivot_table_df = pd.DataFrame(pyber_fares_sum_df.loc[datefilter])

pyber_pivot_table_df.head()
#student_count_THS = school_data_complete_df.loc[((school_data_complete_df["school_name"] == "Thomas High School") 
        #                                         & (school_data_complete_df["grade"] != "9th"), "Student ID")].count()
#student_count_THS

KeyError: 'date'

In [350]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

pyber_fares_sum_df.index = pd.to_datetime(pyber_fares_sum_df.index)

In [351]:
# 7. Check that the datatype for the index is datetime using df.info()
pyber_fares_sum_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2375 entries, 2019-01-01 00:08:16 to 2019-05-08 13:10:18
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rural     125 non-null    float64
 1   Suburban  625 non-null    float64
 2   Urban     1625 non-null   float64
dtypes: float64(3)
memory usage: 74.2 KB

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
#pyber_fare_fin_df =pyber_sandbox_df.resample('W').sum()

#pyber_fare_fin_df.head()

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')